<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Form</title>

    <link href="../static/css/trivia/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/trivia/style.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <hr>
        <div style="text-align: center;">
            <h4>Please Login to check mail</h4>
        </div>
        <hr>
        <center>
            <div class='jumbotron-b' style="width:80%">
                <center>
                    <div class="form-group">
                        <form method="get" action="readmail">
                            <p><input type=text name=username required>
                            <p><input type=text name=password required>
                            <p><input type=submit value=Login>
                        </form>
                    </div>
                </center>
            </div>
    </div>
    </center>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="../static/js/trivia/jquery.min.js"></script>
    <script src="../static/js/trivia/bootstrap.min.js"></script>
</body>

</html>