<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Standings!</title>


    <link href="../static/css/trivia/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/trivia/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <hr>
        <div style="text-align: center;">
            <h4>{{ category }}</h4>
        </div>
        <hr>
        <center>
            <div class="jumbotron question" style="background: #696969; width:70%;">Quiz standings</div>
        </center>
        <hr>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th># correct</th>
                    <th># incorrect</th>
                </tr>
            </thead>
            <tbody>
                {% for user in standings %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="../static/js/trivia/jquery.min.js"></script>
    <script src="../static/js/trivia/bootstrap.min.js"></script>
</body>

</html>